<div class="footer pt-5 pb-5 mt-5">
    <div class="container d-flex justify-content-between px-5">
        <div class="d-flex align-items-center">
            <div>
                <h2 class="mb-4">MyForum</h2>
                <p class="mb-4">
                    Share youre thoughts and adventures with the world!<br>
                    MyForum is the place where people come together to have the<br>
                    most authentic and interesting conversations on the internet.
                </p>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <div class="d-flex">
                <div class="me-5">
                    <p class="bold-text mb-4"><a href="#">Home</a></p>
                    <p class="bold-text mb-4"><a href="#">Advertising</a></p>
                    <p class="bold-text"><a href="#">Help</a></p>
                </div>
                <div>
                    <p class="bold-text mb-4"><a href="#">About Us</a></p>
                    <p class="bold-text mb-4"><a href="#">Contact Us</a></p>
                    <p class="bold-text"><a href="#">Careers</a></p>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <div class="subscribe">
                <p class="mb-4">Subscribe to our monthly newsletter!</p>
                <div class="d-flex align-items-center">
                    <input type="email" placeholder="Enter your email adress">
                    <button type="submit" class="subscribe-button"><strong>Subscribe</strong></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copyright pt-3 pb-3">
    <p>© 2021 MyForum. All rights reserved.</p>
</div>

@code {

}
